textarea {
    resize: none;
}
.interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}
.pairedText {
    display: flex;
    flex-direction: column;
}
.largeButton {
    font-size: 25px;
    max-height: 40px;


}
.largerButton {
    font-size: 25px;
    max-height: 40px;
    max-width: 400px;
}
