textarea {
    resize: none;
}
.interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}
.pairedText {
    display: flex;
    flex-direction: column;
}
.largeButton {
    font-size: 25px;
    max-height: 40px;
    background-color: #0099CF;
    color: white;
    border: 2px solid #0099DF;
    border-style: groove;
    border-radius: 5px;

}
.largerButton {
    font-size: 25px;
    max-height: 40px;
    max-width: 400px;
    background-color: #0099CF;
    color: white;
    border: 2px solid #0099DF;
    border-style: groove;
    border-radius: 5px;
}
textarea {
    max-width: 100%;
    height: 502px;
    border-radius: 10px;
    border: 5px solid #a4b0be;
    outline: none;
    resize: none;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }
  html {
      background-color: #AAEEEE;
  }
