textarea {
    resize: none;
}
.interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}
.pairedText {
    display: flex;
    flex-direction: column;
}
.swapButton {
    font-size: 25px;
    max-height: 40px;

}
